{{#each checkboxes as |checkbox|}}
    {{#if hasBlock}}
        {{yield checkbox.label checkbox.isSelected checkbox.value checkbox.element}}
    {{else}}
        <li>
            <label>
                {{input type="checkbox" checked=checkbox.isSelected disabled=disabled}}
                {{checkbox.label}}
            </label>
        </li>
    {{/if}}
{{/each}}
